<div class="showcase details row">
	<div class="col-md-2">
		<a href="#" class="thumbnail">
      <img class="media-object img-responsive" ng-src="{{product.filename}}" alt="{{product.name}}">
    </a>
	</div>

	<div class="col-md-8">
		<h2 class="media-heading">{{product.name}}</h2>
	  <!-- {{product.description}} -->

	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

<div class="row">
	<nav class="container-fluid">
	  <ul class="pager">
	    <li class="previous" ng-click="showPrevProduct()"><a href="#"><span aria-hidden="true">&larr;</span> Prev</a></li>
	    <li class="next" ng-click="showNextProduct()"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
</div>